# **PROYECTO SHARKS**

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/attacks.csv', encoding='latin-1')

In [3]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [4]:
df.shape

(25723, 24)

In [5]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [6]:
df._get_numeric_data().shape  #con esto saco el shape de los elementos numéricos

(25723, 2)

In [7]:
df.select_dtypes('object').shape  # con esto saco el shape de los elementos tipo object

(25723, 22)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

# **La mayoría de columnas del DF albergan datos de tipo object, frente a 2 columnas de tipo Float**

# Ahora voy a borrar valores nulos

In [12]:
umbral = 0.6  # Define el umbral del 60% de valores nulos
porcentaje_nulos = df.apply(lambda row: row.isnull().sum() / len(row), axis=1)  # Calcula el porcentaje de valores nulos en cada fila
num_filas = sum(porcentaje_nulos > umbral)  # Cuenta el número de filas que tienen un porcentaje de valores nulos mayor que el umbral

num_filas

19421

In [13]:
# Ahora voy a borrar estas filas porque tienen demasiados valores nulos utilizando drop.

indices = porcentaje_nulos[porcentaje_nulos > umbral].index  # Obtiene los índices de las filas que cumplen el umbral
df = df.drop(indices, axis=0)  # Elimina las filas que cumplen el umbral del DataFrame

In [14]:
df.shape

(6302, 24)

In [ ]:
# Ahora tengo muchas menos filas, genial

# **Filas duplicadas**

In [16]:
duplicados = df[df.duplicated()]

duplicados

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Injury, Fatal (Y/N), Time, Species , Investigator or Source, pdf, href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]

In [ ]:
# Esto significa que no hay filas duplicadas, genial

# **Ahora voy a ir columna por columna limpiando los datos**

**COLUMNA 1 - Case Number**

In [17]:
# Columna 1 : Case Number. Entiendo que es una especie de identificador, un ID.

df['Case Number'].apply(type)

0       <class 'str'>
1       <class 'str'>
2       <class 'str'>
3       <class 'str'>
4       <class 'str'>
            ...
6297    <class 'str'>
6298    <class 'str'>
6299    <class 'str'>
6300    <class 'str'>
6301    <class 'str'>
Name: Case Number, Length: 6302, dtype: object

In [ ]:
# Veo que son strings correspondientes a fechas.
# Voy a quitarles los puntos entre medio. De esta manera voy a poder manejarlos mejor

In [19]:
df['Case Number'] = df['Case Number'].replace('\.', '', regex=True)

In [20]:
print(df['Case Number'])

0       20180625
1       20180618
2       20180609
3       20180608
4       20180604
          ...
6297      ND0005
6298      ND0004
6299      ND0003
6300      ND0002
6301      ND0001
Name: Case Number, Length: 6302, dtype: object

In [ ]:
# Veo que estos string IDs no sólo tienen una estructura tipo fecha, sino que también tienen la forma de, por ejemplo, ND0005
# Por ahora eso me da igual, son IDs y cada uno se llama de una manera.
# Parece que la mayoría de esos IDs tienen esos dos tipos de "morfologías"

**COLUMNA 2 - Date**

In [ ]:
# Esta columna representa fechas, se entiende que es la fecha del incidente

# Compruebo el tipo de dato que contiene esta columna

In [25]:
df['Date'].apply(type)

0       <class 'str'>
1       <class 'str'>
2       <class 'str'>
3       <class 'str'>
4       <class 'str'>
            ...
6297    <class 'str'>
6298    <class 'str'>
6299    <class 'str'>
6300    <class 'str'>
6301    <class 'str'>
Name: Date, Length: 6302, dtype: object

In [26]:
print(df['Date'])

0       25-Jun-2018
1       18-Jun-2018
2       09-Jun-2018
3       08-Jun-2018
4       04-Jun-2018
           ...
6297    Before 1903
6298    Before 1903
6299      1900-1905
6300      1883-1889
6301      1845-1853
Name: Date, Length: 6302, dtype: object

In [ ]:
# Veo que la columna Date contiene datos de fechas pero escritos de manera diferente, muy lioso.

In [ ]:
# Por otro lado, veo que la siguiente columna se llama Year, por lo que voy a ver qué tiene, por si me ayuda para decidir lo que hacer con la de Date.

In [27]:
print(df['Year'])

0       2018.0
1       2018.0
2       2018.0
3       2018.0
4       2018.0
         ...
6297       0.0
6298       0.0
6299       0.0
6300       0.0
6301       0.0
Name: Year, Length: 6302, dtype: float64

In [28]:
print(df['Year'].value_counts()[0.0])

125

In [ ]:
# He comprobado que en la columna year hay algunos valores iguales a 0.0. 
# Eso no me da ninguna información, por lo que voy a borrar las filas que tienen ese year 0.0.

In [33]:
rows_to_drop = df[df['Year'] == 0.0].index
df = df.drop(rows_to_drop)

In [34]:
df.shape

(6176, 24)

In [35]:
# Ahora tengo un df de (6176, 24)

**COLUMNA 4 - Type**

In [ ]:
# Esta columna indica el tipo de ataque: provocado, no provocado, y más tipos que no conozco.
# lo primero que voy a hacer es sacar los valores únicos

In [37]:
value_counts = df['Type'].value_counts()

print(value_counts)

Unprovoked      4487
Provoked         567
Invalid          544
Sea Disaster     233
Boating          203
Boat             135
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [38]:
# Voy a agruparlos únicamente en provocados y no provocados
# Voy a pasar las distintas categorías a Unprovoked, y los inválidos los voy a dejar tal y como están.
# Los paso a Unprovoked porque se entiende que en las categorías como Sea Disaster o Boating no se le estaba provocando.

In [ ]:
# Sustituyo los valores de sea disaster, boating, boat, questionable y boatomg y les coloco "Unprovoked"
# para eso creo un diccionario con lo que quiero sustituir, y luego los reemplazo en el df

In [39]:
diccionario_reemplazar = {'Sea Disaster': 'Unprovoked', 'Boating': 'Unprovoked', 'Boat': 'Unprovoked', 'Questionable': 'Unprovoked', 'Boatomg': 'Unprovoked'}

In [40]:
# Reemplazar los valores en la columna "Type" utilizando el diccionario de reemplazo
df['Type'] = df['Type'].replace(diccionario_reemplazar)

In [44]:
print(df['Type'])

0       Unprovoked
1       Unprovoked
2          Invalid
3       Unprovoked
4         Provoked
           ...
6172    Unprovoked
6173    Unprovoked
6174    Unprovoked
6175    Unprovoked
6176    Unprovoked
Name: Type, Length: 6176, dtype: object

**COLUMNA 5 - Country**

In [46]:
(df['Type'])

0       Unprovoked
1       Unprovoked
2          Invalid
3       Unprovoked
4         Provoked
           ...
6172    Unprovoked
6173    Unprovoked
6174    Unprovoked
6175    Unprovoked
6176    Unprovoked
Name: Type, Length: 6176, dtype: object

**COLUMNA 6 - Area**

In [49]:
df['Area'].value_counts()

Florida                  1029
New South Wales           484
Queensland                308
Hawaii                    295
California                287
                         ...
Island of Kos               1
Ha'api                      1
Madeira Islands             1
Ho Ha Wan Marine Park       1
Ionian Sea                  1
Name: Area, Length: 804, dtype: int64

In [61]:
# 804 valores unicos, o lo que es lo mismo, lugares en los que han ocurrido ataques.

# De los 6mil accidentes aprox, 1029 de ellos son en Florida, "New South Wales" 484, 308 en Queensland, etc...

# Los valores son de tipo int. , por lo que nos viene bien por si tenemos que operar con ellos en algún momento.

**Special Characters**

In [ ]:
# Me olvidé de hacerlo al principio.
# Voy a borrar los special characters por si acaso me conducen a algún error.

In [63]:
import re

# Creamos una expresión regular para encontrar los caracteres especiales
regex_special = r'[^\w\s]'

# Aplicamos la expresión regular a todas las celdas del DataFrame y contamos los resultados
count_special = df.applymap(lambda x: bool(re.findall(regex_special, str(x)))).sum().sum()

# Imprimimos el resultado
print("La cantidad de celdas que contienen caracteres especiales es:", count_special)

La cantidad de celdas que contienen caracteres especiales es: 65120

In [79]:
# Ahora voy a normalizar todos los caracteres especiales a lo largo del dataframe.

import unicodedata

# para ello defino una función para normalizar una cadena
def normalize_string(s):
    return unicodedata.normalize('NFKD', str(s)).encode('ascii', 'ignore').decode('utf-8')

# despues aplico esa función a todo el DataFrame, y el nuevo df se llamara df normalizado
df_normalizado = df.applymap(normalize_string)

In [80]:
df_normalizado

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,20180625,25-Jun-2018,2018.0,Unprovoked,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,nan,nan
1,20180618,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,nan,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,nan,nan
2,20180609,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,nan,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,nan,nan
3,20180608,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,nan,nan
4,20180604,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6172,15540000,Ca. 1554,1554.0,Unprovoked,FRANCE,Nice & Marseilles,nan,nan,males (wearing armor),M,...,Possibly white sharks,G. Rondelet,1554.00.00-Rondelet.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1554.00.00,1554.00.00,131.0,nan,nan
6173,15430000,Ca. 1543,1543.0,Unprovoked,VENEZUELA,Magarita or Cubagua Islands,nan,Pearl diving,Indian slave,M,...,nan,J. Castro,1543.00.00.R-LasCasas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1543.00.00,1543.00.00,130.0,nan,nan
6174,05000000,Circa 500 A.D.,500.0,Unprovoked,MEXICO,nan,nan,nan,male,M,...,nan,J. Castro,500AD-Mexico.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0500.00.00,0500.00.00,129.0,nan,nan
6175,00770000,77 A.D.,77.0,Unprovoked,nan,Ionian Sea,nan,Sponge diving,males,M,...,nan,Perils mentioned by Pliny the Elder (23 A.D. t...,77AD-Pliny.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0077.00.00,0077.00.00,128.0,nan,nan
6176,00050000,Ca. 5 A.D.,5.0,Unprovoked,AUSTRALIA,New South Wales,Bondi,nan,male,M,...,nan,Waverly Library,0005.00.00-AustralianAboriginal.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0005.00.00,0005.00.00,127.0,nan,nan

In [81]:
count_special_normalizado = df_normalizado.applymap(lambda x: bool(re.findall(regex_special, str(x)))).sum().sum()
print("La cantidad de caracteres especiales en el DataFrame normalizado es:", count_special_normalizado)

La cantidad de caracteres especiales en el DataFrame normalizado es: 65063

In [82]:
# Antes había 65120 caracteres especiales, pero tras correr la función normalize a lo largo del df, ahora se han reducido a 65063

In [ ]:
# Ahora voy a borrar todos los caracteres especiales del df

In [85]:
import re

regex_special = r'[^\w\s]'
df_clean = df.replace(regex_special, '', regex=True)

In [86]:
# compruebo que no hay caracteres especiales

import re

regex_special = r'[^\w\s]'
count_special = df_clean.applymap(lambda x: bool(re.findall(regex_special, str(x)))).sum().sum()
print("La cantidad de caracteres especiales en el DataFrame limpio es:", count_special)

La cantidad de caracteres especiales en el DataFrame limpio es: 12350

In [ ]:
# Se han eliminado muchos, aunque todavía quedan. Los voy a dejar así por ahora.