# **PROYECTO SHARKS**

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/attacks.csv', encoding='latin-1')

In [3]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [4]:
df.shape

(25723, 24)

In [5]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [6]:
df._get_numeric_data().shape  #con esto saco el shape de los elementos numéricos

(25723, 2)

In [7]:
df.select_dtypes('object').shape  # con esto saco el shape de los elementos tipo object

(25723, 22)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

# **La mayoría de columnas del DF albergan datos de tipo object, frente a 2 columnas de tipo Float**

# Ahora voy a borrar valores nulos

In [12]:
umbral = 0.6  # Define el umbral del 60% de valores nulos
porcentaje_nulos = df.apply(lambda row: row.isnull().sum() / len(row), axis=1)  # Calcula el porcentaje de valores nulos en cada fila
num_filas = sum(porcentaje_nulos > umbral)  # Cuenta el número de filas que tienen un porcentaje de valores nulos mayor que el umbral

num_filas

19421

In [13]:
# Ahora voy a borrar estas filas porque tienen demasiados valores nulos utilizando drop.

indices = porcentaje_nulos[porcentaje_nulos > umbral].index  # Obtiene los índices de las filas que cumplen el umbral
df = df.drop(indices, axis=0)  # Elimina las filas que cumplen el umbral del DataFrame

In [14]:
df.shape

(6302, 24)

In [ ]:
# Ahora tengo muchas menos filas, genial

# **Filas duplicadas**

In [16]:
duplicados = df[df.duplicated()]

duplicados

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Injury, Fatal (Y/N), Time, Species , Investigator or Source, pdf, href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]

In [ ]:
# Esto significa que no hay filas duplicadas, genial

# **Ahora voy a ir columna por columna limpiando los datos**

**COLUMNA 1 - Case Number**

In [17]:
# Columna 1 : Case Number. Entiendo que es una especie de identificador, un ID.

df['Case Number'].apply(type)

0       <class 'str'>
1       <class 'str'>
2       <class 'str'>
3       <class 'str'>
4       <class 'str'>
            ...
6297    <class 'str'>
6298    <class 'str'>
6299    <class 'str'>
6300    <class 'str'>
6301    <class 'str'>
Name: Case Number, Length: 6302, dtype: object

In [ ]:
# Veo que son strings correspondientes a fechas.
# Voy a quitarles los puntos entre medio. De esta manera voy a poder manejarlos mejor

In [19]:
df['Case Number'] = df['Case Number'].replace('\.', '', regex=True)

In [20]:
print(df['Case Number'])

0       20180625
1       20180618
2       20180609
3       20180608
4       20180604
          ...
6297      ND0005
6298      ND0004
6299      ND0003
6300      ND0002
6301      ND0001
Name: Case Number, Length: 6302, dtype: object

In [ ]:
# Veo que estos string IDs no sólo tienen una estructura tipo fecha, sino que también tienen la forma de, por ejemplo, ND0005
# Por ahora eso me da igual, son IDs y cada uno se llama de una manera.
# Parece que la mayoría de esos IDs tienen esos dos tipos de "morfologías"

**COLUMNA 2 - Date**

In [ ]:
# Esta columna representa fechas, se entiende que es la fecha del incidente

# Compruebo el tipo de dato que contiene esta columna

In [25]:
df['Date'].apply(type)

0       <class 'str'>
1       <class 'str'>
2       <class 'str'>
3       <class 'str'>
4       <class 'str'>
            ...
6297    <class 'str'>
6298    <class 'str'>
6299    <class 'str'>
6300    <class 'str'>
6301    <class 'str'>
Name: Date, Length: 6302, dtype: object

In [26]:
print(df['Date'])

0       25-Jun-2018
1       18-Jun-2018
2       09-Jun-2018
3       08-Jun-2018
4       04-Jun-2018
           ...
6297    Before 1903
6298    Before 1903
6299      1900-1905
6300      1883-1889
6301      1845-1853
Name: Date, Length: 6302, dtype: object

In [ ]:
# Veo que la columna Date contiene datos de fechas pero escritos de manera diferente, muy lioso.

In [ ]:
# Por otro lado, veo que la siguiente columna se llama Year, por lo que voy a ver qué tiene, por si me ayuda para decidir lo que hacer con la de Date.

In [27]:
print(df['Year'])

0       2018.0
1       2018.0
2       2018.0
3       2018.0
4       2018.0
         ...
6297       0.0
6298       0.0
6299       0.0
6300       0.0
6301       0.0
Name: Year, Length: 6302, dtype: float64

In [28]:
print(df['Year'].value_counts()[0.0])

125

In [ ]:
# He comprobado que en la columna year hay algunos valores iguales a 0.0. 
# Eso no me da ninguna información, por lo que voy a borrar las filas que tienen ese year 0.0.

In [33]:
rows_to_drop = df[df['Year'] == 0.0].index
df = df.drop(rows_to_drop)

In [34]:
df.shape

(6176, 24)

In [35]:
# Ahora tengo un df de (6176, 24)

**COLUMNA 4 - Type**

In [ ]:
# Esta columna indica el tipo de ataque: provocado, no provocado, y más tipos que no conozco.
# lo primero que voy a hacer es sacar los valores únicos

In [37]:
value_counts = df['Type'].value_counts()

print(value_counts)

Unprovoked      4487
Provoked         567
Invalid          544
Sea Disaster     233
Boating          203
Boat             135
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [38]:
# Voy a agruparlos únicamente en provocados y no provocados
# Voy a pasar las distintas categorías a Unprovoked, y los inválidos los voy a dejar tal y como están.
# Los paso a Unprovoked porque se entiende que en las categorías como Sea Disaster o Boating no se le estaba provocando.

In [ ]:
# Sustituyo los valores de sea disaster, boating, boat