# **PROYECTO SHARKS**

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/attacks.csv', encoding='latin-1')

In [3]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [4]:
df.shape

(25723, 24)

In [5]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [6]:
df._get_numeric_data().shape  #con esto saco el shape de los elementos numéricos

(25723, 2)

In [7]:
df.select_dtypes('object').shape  # con esto saco el shape de los elementos tipo object

(25723, 22)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

# **La mayoría de columnas del DF albergan datos de tipo object, frente a 2 columnas de tipo Float**

# Ahora voy a borrar valores nulos

In [12]:
umbral = 0.6  # Define el umbral del 60% de valores nulos
porcentaje_nulos = df.apply(lambda row: row.isnull().sum() / len(row), axis=1)  # Calcula el porcentaje de valores nulos en cada fila
num_filas = sum(porcentaje_nulos > umbral)  # Cuenta el número de filas que tienen un porcentaje de valores nulos mayor que el umbral

num_filas

19421

In [13]:
# Ahora voy a borrar estas filas porque tienen demasiados valores nulos utilizando drop.

indices = porcentaje_nulos[porcentaje_nulos > umbral].index  # Obtiene los índices de las filas que cumplen el umbral
df = df.drop(indices, axis=0)  # Elimina las filas que cumplen el umbral del DataFrame

In [14]:
df.shape

(6302, 24)

In [ ]:
# Ahora tengo muchas menos filas, genial

# **Filas duplicadas**

In [16]:
duplicados = df[df.duplicated()]

duplicados

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Name, Sex , Age, Injury, Fatal (Y/N), Time, Species , Investigator or Source, pdf, href formula, href, Case Number.1, Case Number.2, original order, Unnamed: 22, Unnamed: 23]
Index: []

[0 rows x 24 columns]

In [ ]:
# Esto significa que no hay filas duplicadas, genial

# **Ahora voy a ir columna por columna limpiando los datos**

**COLUMNA 1 - Case Number**

In [17]:
# Columna 1 : Case Number. Entiendo que es una especie de identificador, un ID.

df['Case Number'].apply(type)

0       <class 'str'>
1       <class 'str'>
2       <class 'str'>
3       <class 'str'>
4       <class 'str'>
            ...
6297    <class 'str'>
6298    <class 'str'>
6299    <class 'str'>
6300    <class 'str'>
6301    <class 'str'>
Name: Case Number, Length: 6302, dtype: object

In [ ]:
# Veo que son strings correspondientes a fechas.
# Voy a quitarles los puntos entre medio. De esta manera voy a poder manejarlos mejor

In [19]:
df['Case Number'] = df['Case Number'].replace('\.', '', regex=True)

In [20]:
print(df['Case Number'])

0       20180625
1       20180618
2       20180609
3       20180608
4       20180604
          ...
6297      ND0005
6298      ND0004
6299      ND0003
6300      ND0002
6301      ND0001
Name: Case Number, Length: 6302, dtype: object

In [ ]:
# Veo que estos string IDs no sólo tienen una estructura tipo fecha, sino que también tienen la forma de, por ejemplo, ND0005
# Por ahora eso me da igual, son IDs y cada uno se llama de una manera.
# Parece que la mayoría de esos IDs tienen esos dos tipos de "morfologías"

**COLUMNA 2 - Date**

In [ ]:
# Esta columna representa fechas, se entiende que es la fecha del incidente

# Compruebo el tipo de dato que contiene esta columna

In [25]:
df['Date'].apply(type)

0       <class 'str'>
1       <class 'str'>
2       <class 'str'>
3       <class 'str'>
4       <class 'str'>
            ...
6297    <class 'str'>
6298    <class 'str'>
6299    <class 'str'>
6300    <class 'str'>
6301    <class 'str'>
Name: Date, Length: 6302, dtype: object

In [26]:
print(df['Date'])

0       25-Jun-2018
1       18-Jun-2018
2       09-Jun-2018
3       08-Jun-2018
4       04-Jun-2018
           ...
6297    Before 1903
6298    Before 1903
6299      1900-1905
6300      1883-1889
6301      1845-1853
Name: Date, Length: 6302, dtype: object

In [ ]:
# Veo que la columna Date contiene datos de fechas pero escritos de manera diferente, muy lioso.

In [ ]:
# Por otro lado, veo que la siguiente columna se llama Year, por lo que voy a ver qué tiene, por si me ayuda para decidir lo que hacer con la de Date.

In [27]:
print(df['Year'])

0       2018.0
1       2018.0
2       2018.0
3       2018.0
4       2018.0
         ...
6297       0.0
6298       0.0
6299       0.0
6300       0.0
6301       0.0
Name: Year, Length: 6302, dtype: float64

In [28]:
print(df['Year'].value_counts()[0.0])

125

In [ ]:
# He comprobado que en la columna year hay algunos valores iguales a 0.0. 
# Eso no me da ninguna información, por lo que voy a borrar las filas que tienen ese year 0.0.

In [33]:
rows_to_drop = df[df['Year'] == 0.0].index
df = df.drop(rows_to_drop)

In [34]:
df.shape

(6176, 24)

In [35]:
# Ahora tengo un df de (6176, 24)

**COLUMNA 4 - Type**

In [ ]:
# Esta columna indica el tipo de ataque: provocado, no provocado, y más tipos que no conozco.
# lo primero que voy a hacer es sacar los valores únicos

In [37]:
value_counts = df['Type'].value_counts()

print(value_counts)

Unprovoked      4487
Provoked         567
Invalid          544
Sea Disaster     233
Boating          203
Boat             135
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [38]:
# Voy a agruparlos únicamente en provocados y no provocados
# Voy a pasar las distintas categorías a Unprovoked, y los inválidos los voy a dejar tal y como están.
# Los paso a Unprovoked porque se entiende que en las categorías como Sea Disaster o Boating no se le estaba provocando.

In [ ]:
# Sustituyo los valores de sea disaster, boating, boat, questionable y boatomg y les coloco "Unprovoked"
# para eso creo un diccionario con lo que quiero sustituir, y luego los reemplazo en el df

In [39]:
diccionario_reemplazar = {'Sea Disaster': 'Unprovoked', 'Boating': 'Unprovoked', 'Boat': 'Unprovoked', 'Questionable': 'Unprovoked', 'Boatomg': 'Unprovoked'}

In [40]:
# Reemplazar los valores en la columna "Type" utilizando el diccionario de reemplazo
df['Type'] = df['Type'].replace(diccionario_reemplazar)

In [44]:
print(df['Type'])

0       Unprovoked
1       Unprovoked
2          Invalid
3       Unprovoked
4         Provoked
           ...
6172    Unprovoked
6173    Unprovoked
6174    Unprovoked
6175    Unprovoked
6176    Unprovoked
Name: Type, Length: 6176, dtype: object

**COLUMNA 5 - Country**

In [95]:
df['Country']

0             USA
1             USA
2             USA
3       AUSTRALIA
4          MEXICO
          ...
6172       FRANCE
6173    VENEZUELA
6174       MEXICO
6175          NaN
6176    AUSTRALIA
Name: Country, Length: 6176, dtype: object

**COLUMNA 6 - Area**

In [49]:
df['Area'].value_counts()

Florida                  1029
New South Wales           484
Queensland                308
Hawaii                    295
California                287
                         ...
Island of Kos               1
Ha'api                      1
Madeira Islands             1
Ho Ha Wan Marine Park       1
Ionian Sea                  1
Name: Area, Length: 804, dtype: int64

In [61]:
# 804 valores unicos, o lo que es lo mismo, lugares en los que han ocurrido ataques.

# De los 6mil accidentes aprox, 1029 de ellos son en Florida, "New South Wales" 484, 308 en Queensland, etc...

# Los valores son de tipo int. , por lo que nos viene bien por si tenemos que operar con ellos en algún momento.

**Special Characters**

In [ ]:
# Me olvidé de hacerlo al principio.
# Voy a borrar los special characters por si acaso me conducen a algún error.

In [63]:
import re

# Creamos una expresión regular para encontrar los caracteres especiales
regex_special = r'[^\w\s]'

# Aplicamos la expresión regular a todas las celdas del DataFrame y contamos los resultados
count_special = df.applymap(lambda x: bool(re.findall(regex_special, str(x)))).sum().sum()

# Imprimimos el resultado
print("La cantidad de celdas que contienen caracteres especiales es:", count_special)

La cantidad de celdas que contienen caracteres especiales es: 65120

In [79]:
# Ahora voy a normalizar todos los caracteres especiales a lo largo del dataframe.

import unicodedata

# para ello defino una función para normalizar una cadena
def normalize_string(s):
    return unicodedata.normalize('NFKD', str(s)).encode('ascii', 'ignore').decode('utf-8')

# despues aplico esa función a todo el DataFrame, y el nuevo df se llamara df normalizado
df_normalizado = df.applymap(normalize_string)

In [80]:
df_normalizado

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,20180625,25-Jun-2018,2018.0,Unprovoked,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,nan,nan
1,20180618,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,nan,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,nan,nan
2,20180609,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,nan,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,nan,nan
3,20180608,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,nan,nan
4,20180604,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6172,15540000,Ca. 1554,1554.0,Unprovoked,FRANCE,Nice & Marseilles,nan,nan,males (wearing armor),M,...,Possibly white sharks,G. Rondelet,1554.00.00-Rondelet.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1554.00.00,1554.00.00,131.0,nan,nan
6173,15430000,Ca. 1543,1543.0,Unprovoked,VENEZUELA,Magarita or Cubagua Islands,nan,Pearl diving,Indian slave,M,...,nan,J. Castro,1543.00.00.R-LasCasas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1543.00.00,1543.00.00,130.0,nan,nan
6174,05000000,Circa 500 A.D.,500.0,Unprovoked,MEXICO,nan,nan,nan,male,M,...,nan,J. Castro,500AD-Mexico.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0500.00.00,0500.00.00,129.0,nan,nan
6175,00770000,77 A.D.,77.0,Unprovoked,nan,Ionian Sea,nan,Sponge diving,males,M,...,nan,Perils mentioned by Pliny the Elder (23 A.D. t...,77AD-Pliny.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0077.00.00,0077.00.00,128.0,nan,nan
6176,00050000,Ca. 5 A.D.,5.0,Unprovoked,AUSTRALIA,New South Wales,Bondi,nan,male,M,...,nan,Waverly Library,0005.00.00-AustralianAboriginal.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0005.00.00,0005.00.00,127.0,nan,nan

In [81]:
count_special_normalizado = df_normalizado.applymap(lambda x: bool(re.findall(regex_special, str(x)))).sum().sum()
print("La cantidad de caracteres especiales en el DataFrame normalizado es:", count_special_normalizado)

La cantidad de caracteres especiales en el DataFrame normalizado es: 65063

In [82]:
# Antes había 65120 caracteres especiales, pero tras correr la función normalize a lo largo del df, ahora se han reducido a 65063

In [ ]:
# Ahora voy a borrar todos los caracteres especiales del df

In [85]:
import re

regex_special = r'[^\w\s]'
df_clean = df.replace(regex_special, '', regex=True)

In [86]:
# compruebo que no hay caracteres especiales

import re

regex_special = r'[^\w\s]'
count_special = df_clean.applymap(lambda x: bool(re.findall(regex_special, str(x)))).sum().sum()
print("La cantidad de caracteres especiales en el DataFrame limpio es:", count_special)

La cantidad de caracteres especiales en el DataFrame limpio es: 12350

In [ ]:
# Se han eliminado muchos, aunque todavía quedan. Los voy a dejar así por ahora.

**Voy a cambiar los IDs de la primera columna por un indice sencillo**

In [88]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,20180625,25-Jun-2018,2018.0,Unprovoked,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,20180618,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,20180609,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,20180608,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,20180604,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [89]:
df.shape

(6176, 24)

In [90]:
# Generar una secuencia de números del 1 al 6176
n_filas = len(df)
numeros = range(1, n_filas+1)

# Asignar los números a la columna "Case Number"
df['Case Number'] = numeros

In [92]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,1,25-Jun-2018,2018.0,Unprovoked,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,3,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,4,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,5,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [ ]:
# Hecho. De esta manera tengo los case numbers ordenados del 1 al 6176 , y es más fácil usarlos.

**Columa 7 - Location**

In [ ]:
# Voy a quitar espacios en en blanco innecesarios

In [93]:
df['Location'] = df['Location'].str.strip()

In [94]:
df['Location']

0          Oceanside, San Diego County
1       St. Simon Island, Glynn County
2                         Habush, Oahu
3                   Arrawarra Headland
4                             La Ticla
                     ...
6172                               NaN
6173                               NaN
6174                               NaN
6175                               NaN
6176                             Bondi
Name: Location, Length: 6176, dtype: object

In [96]:
# Sé que algunas localizaciones son más concretas que otras, pero no voy a estandarizarlas y ponerlas todas con la misma estructura.
# Creo que tener más información en algunas celdas no "ensucia" el dataframe.

**Columa 8 - Activity**

In [101]:
df['Activity'].tolist()

['Paddling',
 'Standing',
 'Surfing',
 'Surfing',
 'Free diving',
 'Kite surfing',
 'Swimming',
 'Fishing',
 'Walking',
 'Standing',
 'Feeding sharks',
 'Boogie boarding',
 'Swimming',
 'Fishing',
 'Feeding sharks',
 'Surfing',
 'Surfing',
 'Swimming',
 'Scuba diving',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Fishing',
 'Paddle-skiing',
 'Body boarding',
 'Swimming',
 'Swimming',
 'Surfing',
 'Surfing',
 'Surfing',
 'Fishing',
 'Windsurfing',
 'Swimming',
 'Surfing',
 'Stand-Up Paddleboarding',
 'Wading',
 'Swimming',
 'Surfing',
 'Scuba Diving',
 'Swimming',
 'Kayak fishing for sharks',
 'Walking',
 'Swimming',
 'Cleaning fish',
 'Snorkeling',
 'Spearfishing',
 nan,
 'Spearfishing',
 'Diving',
 'Free diving',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Fishing / Wading',
 'Snorkeling',
 'Scuba Diving',
 'Scuba diving',
 '2 boats capsized',
 'Spearfishing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Night bathing',
 'Snorkeling',
 'Surfing',
 'Stand-Up Paddleboarding',
 'Swimming',
 'Surfing ',
 'Swimming',
 'Kayaking / Fishing',
 'Kayaking',
 'Swimming',
 'Surfing',
 'Snorkeling',
 'Scuba Diving',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Body surfing',
 'Surfing',
 'Scuba Diving',
 'Fishing',
 'Fishing',
 'Surfing',
 'Swimming',
 'Surfing',
 'Spearfishing',
 'Swimming, poaching abalone',
 'Surfing',
 'Swimming',
 'Swimming',
 'Surfing',
 'Surfing',
 'Wading',
 'Swimming',
 'Canoeing',
 'SUP',
 'Spearfishing',
 'Swimming',
 'Snorkeling',
 'Fishing',
 'Kayaking / Fishing',
 'Skimboarding',
 'Swimming',
 nan,
 'Snorkeling',
 'Spearfishing',
 'Surfing',
 nan,
 'Swimming',
 nan,
 'Swimming',
 'Kayaking',
 'SUP',
 'Surfing',
 'Surfing',
 'Kayaking',
 'Swimming',
 'Fishing',
 'Surfing',
 'Fishing',
 'Swimming',
 'Surfing',
 'Swimming',
 'Body boarding',
 'Swimming',
 'Surfing',
 'Feeding sharks',
 'Body boarding',
 'Surfing',
 'Surfing',
 'Surfing ',
 'Spearfishing',
 'Snorkeling',
 'Touching a shark',
 'Feeding sharks',
 'Fishing ',
 'Spearfishing',
 'Attempting to lasso a shark',
 'Snorkeling',
 'Surfing',
 'Swimming',
 'Surfing',
 'Surfing',
 'Body boarding',
 'Body boarding',
 'Photo shoot',
 'Snorkeling',
 'Swimming',
 nan,
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Scuba Diving',
 'Surfing',
 'Paddle boarding',
 'Swimming',
 'Swimming',
 'Swimming',
 'Kakaying',
 'Swimming',
 'Surfing',
 'Body boarding',
 'Kayaking',
 'Spearfishing',
 'Washing hands',
 'Snorkeling',
 'Surfing',
 'Body boarding',
 'Spearfishing',
 'Swimming',
 'Grabbing shark for a selfie',
 'Kayak fishing',
 'Tagging sharks',
 'Scuba Diving',
 'Swimming',
 nan,
 'Scuba Diving',
 'Swimming',
 nan,
 'Surfing',
 'Spearfishing',
 'Wading',
 'Wading',
 'Surfing',
 'Snorkeling',
 'Surf skiing ',
 'Free diving',
 'Fishing',
 'Surfing',
 'Surf fishing',
 'Surfing',
 'Fishing',
 'Floating',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Snorkeling',
 'Cage Diving',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfng',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Fishing',
 'Wading',
 'Swimming',
 'Kite surfing',
 'Boogie boarding',
 'Surfing',
 'Body boarding',
 'Spearfishing',
 'Cage Diving',
 'Surfing',
 'Surfing',
 'Surfing',
 'Wading',
 'Snorkeling',
 'SUP Foil boarding',
 'Surfing',
 'Swimming',
 'Swimming',
 'Kayaking',
 'Lobstering',
 'Surfing',
 'Surfing',
 'Surfing',
 'Spearfishing',
 'Fishing',
 'Fishing in Alabama Deep Fishing Rodeo',
 'Surfing',
 nan,
 'Kite surfing',
 'Swimming',
 'Scuba Diving',
 'Wading',
 'Fishing for squid',
 'Fishing',
 'Fishing for sharks',
 'Swimming',
 'Fishing',
 nan,
 'Surfing',
 'Scuba Diving',
 'Spearfishing',
 'Floating',
 'Wading',
 'Surfing',
 'Spearfishing',
 'Floating in tube',
 'Standing',
 'Surfing',
 'Swimming',
 'Diving',
 'Swimming',
 'Spearfishing',
 'Kite surfing',
 'Surfing',
 'Swimming',
 'Swimming',
 'Swimming',
 'Swimming',
 'Swimming',
 'Swimming',
 'Teasing a shark',
 'Floating',
 'Fishing',
 'Surfing',
 'Surfing',
 'Surf-skiing',
 'Swimming',
 'Spearfishing',
 'Spearfishing',
 'Spearfishing',
 'Walking',
 nan,
 'Fishing',
 'SUP',
 'Snorkeling',
 'Surfing',
 nan,
 'Surfing',
 nan,
 'Surfing',
 'Body surfing',
 'Diving for beche-de-mer',
 nan,
 'Fishing',
 'Swimming',
 'Kite surfing',
 'Spearfishing',
 'Wading',
 'Feeding stingrays?',
 'Surfing',
 'Walking',
 'Windsurfing',
 'Swimming',
 'Kayak fishing',
 'Surfing',
 'Surfing',
 'Spearfishing',
 'Fishing',
 'Paddle boarding',
 'Surfing',
 'Wading',
 'Spearfishing',
 'Kayak Fishing',
 'Swimming',
 'Paddle boarding',
 'Surfing',
 'Scuba diving',
 'Sea disaster',
 'Fishing',
 'Lobster fishing',
 'Swimming / Wading',
 'Snorkeling',
 'Surfing',
 'Swimming',
 'Surfing',
 'Surfing',
 'Surfing',
 'Swimming',
 'Wading',
 'Fishing',
 'Spearfishing',
 'Body boarding',
 'Surfing',
 'Surfing',
 'Surfing',
 'Fishing for shrimp',
 'Surfing',
 'Swimming',
 'Kayak Fishing',
 'Boogie boarding',
 'Surfing',
 'Fishing',
 'Surfing',
 'Body boarding',
 'Wading',
 'Surfing',
 'Surfing',
 'Snorkeling',
 'Kayak fishing',
 'Surfing',
 'Spearfishing',
 'Wading',
 'Photographing fish',
 'Kayak Fishing',
 'Swimming',
 'Surfing',
 'Surfing',
 'Stand-Up Paddleboarding',
 'Kayak Fishing',
 'Surf-skiing',
 nan,
 'Wading',
 'Spearfishing',
 'Surfing',
 'Surfing',
 nan,
 'Surfing',
 'Surfing',
 'Walking',
 'Kayak Fishing',
 'Swimming',
 'Spearfishing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Floating',
 'Scallop diving on hookah',
 'Kayak Fishing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Treading water',
 'Swimming',
 'Spearfishing',
 nan,
 'Surfing',
 'Body boarding ',
 'Swimming',
 'Surfing',
 'Playing in the water',
 'Swimming',
 'Body Boarding',
 'Swimming',
 'Surfing',
 'Standing',
 'Swimming',
 'Body surfing?',
 'Swimming',
 'Surfing',
 'Standing',
 'Spearfishing',
 'Swimming',
 'Wading',
 'Wading',
 nan,
 'Boogie boarding',
 'Playing',
 'Attempting to rescue a shark',
 'Surfing',
 'Standing',
 'Wading',
 'Spearfishing',
 'Swimming',
 'Surfing',
 nan,
 'Snorkeling',
 'Swimming',
 'Surfing',
 'Diving',
 'Snorkeling',
 'Wading',
 'Surfing',
 'Surf skiing ',
 'Photographing the shark',
 'Surfing',
 'Paddle boarding',
 'Spearfishing',
 'Diving',
 'Surfing',
 'Kayak Fishing',
 'Swimming',
 'Standing / Snorkeling',
 'Hand feeding sharks',
 'Fishing',
 'Fishing',
 'Sitting in the water',
 'Transatlantic Rowing',
 'Swimming',
 'Surfing',
 'Surfing',
 'Bodysurfing',
 'Rowing',
 'Shark fishing',
 'Surfing',
 'Floating',
 'Fishing',
 'Surfing & filming dolphins',
 'Fishing',
 'Filming',
 'Swimming after falling overboard',
 'Snorkeling',
 'Surfing',
 nan,
 'Surfing',
 'Spearfishing',
 nan,
 'Swimming',
 'Surfing',
 'Fishing',
 'Diving / Filming',
 'Spearfishing',
 'Fishing for blue sharks',
 'Surfing',
 'Fishing',
 'Fishing',
 nan,
 'Surfing',
 'Snorkeling',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Stand-Up Paddleboarding',
 'Stand-Up Paddleboarding',
 'Canoeing',
 'Surfing',
 'Surfing',
 'Standing in inner tube',
 'Body surfing or Boogie boarding',
 'Kayaking',
 'Surfing',
 'Fishing',
 'Surfing',
 'Kayaking',
 'Kayaking ',
 'Surfing',
 'Surfing',
 'Surfing',
 'Feeding fish',
 'Surfing',
 'Swimming',
 'Fishing ',
 'Kayaking ',
 'Fishing',
 'Playing with an air mattress',
 'Body surfing',
 'Surfing',
 nan,
 'Fishing',
 'Swimming',
 'Surfing',
 'Standing',
 'Fishing for sharks',
 'Kite boarding',
 'Spearfishing',
 'Standing',
 nan,
 'Spearfishing',
 'Swimming',
 'Swimming',
 'Boogie boarding',
 'Swimming',
 'Surfing',
 'Boogie boarding',
 'Surfing',
 'Sea disaster',
 'Swimming',
 'Surfing',
 'Standing',
 'Wading',
 'Swimming',
 'Swimming',
 'Shark diving',
 'Body surfing',
 'Surfing',
 'Swimming',
 'Surfing',
 'Body surfing',
 'Transatlantic Rowing',
 'Spearfishing',
 'Surfing',
 'Body boarding',
 'Petting a shark',
 'Fishing',
 'Standing',
 'Body boarding',
 'Surfing',
 'Kneeling in the water',
 'Swimming',
 'Surfing',
 'Tagging sharks',
 'Fell into the water',
 'Scuba diving',
 'Teasing a shark',
 'Body boarding',
 'Surfing',
 'Wading',
 'Surfing',
 'Diving',
 'Swimming',
 'Diving',
 'Surfing',
 'Spearfishing',
 'Swimming',
 'Wading',
 'Shark watching',
 'Fishing',
 'Surfing',
 'Surfing',
 'Swimming',
 'Diving for lobsters',
 'Swimming',
 'Kite Surfing',
 'Surfing',
 'Kite Surfing',
 'Surfing',
 nan,
 'Swimming',
 'Scuba diving / culling lionfish',
 'Surfing',
 'Kitesurfing',
 'Sailing',
 'Spearfishing / Free diving',
 'Fishing',
 'Surfing',
 'Fishing',
 'Spearfishing',
 'Sea disaster',
 'Free diving / Photographing pilot whales',
 'Filming a documentary',
 'Snorkeling',
 'Surfing',
 'Attempting to remove fishing net from submerged object',
 'Boogie boarding',
 'Surfing',
 'Surfing',
 'Kayaking / Fishing',
 'Body boarding',
 'Snorkeling',
 'Surfing',
 'Surfing',
 'Surfing',
 'Shark fishing',
 'Body boarding',
 'Surfing',
 'Kiteboarding',
 'Snorkeling',
 'Body boarding',
 'Diving for crayfish',
 'Surfing',
 'Diving ',
 'Surfing',
 'Wading',
 'Swimming / snorkeling',
 'Diving for Abalone',
 'Surfing',
 'Wading',
 'Surfing',
 'Diving',
 'Standing',
 'Swimming',
 'Surfing',
 'Swimming',
 'Surfing',
 nan,
 'Surfing',
 'Standing',
 'Swimming',
 nan,
 nan,
 'Casting a net',
 'Spearfishing',
 'Swimming',
 'Marathon swimming',
 'Longline fishing for sharks',
 'Boogie boarding',
 'Wrangling a shark',
 'Surfing',
 'Surfing',
 'Snorkeling',
 'Kiteboarding',
 'Surfing',
 'Attempting to free the shark',
 'Fishing',
 'Snorkeling',
 'Swimming',
 'Spearfishing',
 'Wading',
 'Surfing',
 'Cleaning fish',
 'Diving',
 'Swimming',
 'Walking in surf',
 'Swimming ',
 'Swimming & snorkeling',
 'Swimming',
 'Wading',
 'Swimming',
 'Body surfing',
 'Fishing',
 nan,
 'Kayaking / Fishing',
 'Swimming',
 'Swimming',
 'Swimming',
 'Swimming',
 'Surfing',
 'Surfing',
 'Boogie Boarding',
 'Fishing for sharks',
 'Surfing',
 'Diving',
 'Swimming',
 nan,
 'Fishing',
 'Surfing',
 'Surfing',
 'Body boarding',
 'Surfing',
 'Fishing',
 'Swimming',
 'Fishing',
 'Playing in the surf',
 'Free diving',
 'Surfing',
 nan,
 'Kite boarding',
 'Swimming',
 nan,
 'Surfing',
 'Surfing',
 'Free diving',
 'Snorkeling',
 'Fly fishing',
 "Fishing - 'tag & release'",
 'Surfing',
 'Spearfishing',
 'Spearfishing',
 'Swimming to shore with floatioon devices after boat engine conked out',
 'Swimming',
 'Swimming',
 'Surfing',
 'Surfing',
 'Surfing',
 'Scuba diving',
 nan,
 'Fishing',
 'Surfing',
 'Dragging stranded shark into deeper water',
 'Surfing',
 'Spearfishing',
 'Spearfishing / Free diving',
 'Swimming',
 'Surfing',
 'Paddle boarding',
 'Swimming',
 'Surfing',
 'Surfing',
 'Spearfishing',
 'Scuba diving',
 'Snorkeling',
 nan,
 'Swimming',
 'Surfing',
 'Diving',
 'Surfing',
 'Surfing',
 'Swimming',
 'Surfing',
 nan,
 'Surfing',
 'Paddle boarding',
 nan,
 'Bathing',
 'Windsurfing',
 'Bodyboarding',
 'Surfing',
 'Surfing',
 'Surfing',
 'Swimming',
 'Surfing',
 'Surfing',
 'Swimming',
 'Surfing',
 'Surfing',
 'Surfing',
 'Boogie boarding',
 'Spearfishing',
 'Swimming or boogie boarding',
 'Shark fishing',
 'Surfing',
 'Swimming',
 'Wading or swimming',
 'Fishing',
 'Free diving ',
 'Surfing',
 'Spearfishing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Body surfing',
 nan,
 'Surfing',
 'Swimming',
 'Surfing',
 'Surfing',
 'Swimming',
 'Spearfishing',
 'Scuba diving',
 'Kayaking',
 'Surfing',
 'Swimming',
 'Swimming',
 'Surfing',
 'Sitting in the water',
 'Surfing',
 'Swimming',
 'Surf skiing ',
 'Standing',
 'Wading',
 'Fishing',
 'Swimming',
 'Swimming',
 'Swimming',
 'Swimming',
 'Surfing',
 'Attempting to rescue an injured & beached shark',
 'Surf skiing ',
 'Surfing',
 'Boogie Boarding',
 'Wading',
 'Free diving / spearfishing',
 'Surfing',
 'Kayak Fishing',
 'Spearfishing',
 'Kayaking / Fishing',
 'Swimming',
 'Paddle boarding',
 'Surfing',
 'Body boarding',
 'Kayaking',
 'Surfing',
 nan,
 'Scuba diving',
 'Surfing',
 'Crayfishing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Diving, feeding sharks',
 'Body boarding',
 'Kite Surfing',
 'Attempting to Kite surf from Egypt to Saudi Arabia',
 'Fishing (illegally)',
 'Kite Surfing',
 'Fishing',
 'Fishing',
 'Surfing',
 'Snorkeling',
 'Snorkeling',
 'Diving, photographing sharks',
 'Fishing',
 'Surfing',
 'Swimming',
 'Surfing',
 'Surfing',
 'Spearfishing',
 nan,
 'Swimming',
 'Surfing',
 'Surfing',
 'Canoeing',
 'Kayak Fishing',
 'Surfing',
 'Surf skiing ',
 'Surfing',
 'Surfing',
 'Spearfishing',
 'Surfing',
 'Surfing',
 'Swimming',
 'Kayaking',
 'Scuba diving',
 'Surfing',
 'Free diving / spearfishing',
 'Surfing',
 'Surfing',
 'Diving',
 'Diving',
 'Surfing',
 'Diving',
 'Surfing',
 'Surfing',
 'Swimming',
 'Canoeing',
 'Wade fishing',
 nan,
 'Surfing',
 'Fishing',
 'Swimming',
 'Spearfishing',
 'Jumping in the waves',
 'Canoeing',
 'Body boarding',
 'Swimming',
 'Surfing',
 'Surfing',
 'Kite Surfing',
 'Surfing',
 'Body boarding',
 'Surfing',
 'Surfing',
 'Swimming',
 'Wade Fishing',
 'Standing, collecting sea stars',
 'Surfing',
 nan,
 'Surfing',
 'Swimming',
 'Wading',
 nan,
 'Swimming',
 'Surfing',
 'Floating ',
 'Swimming or Snorkeling',
 'Playing in the surf',
 'Swimming',
 'Diving',
 'Swimming',
 'Sea disaster',
 'Wade Fishing',
 'Surfing',
 'Boogie Boarding',
 'Kayaking or Wave skiing',
 'Surf fishing',
 'Scuba diving',
 'Swimming',
 'Wade Fishing',
 'Surfing',
 'Kayaking',
 'Snorkeling',
 'Surfing',
 'Scuba diving',
 'Playing in the surf',
 'Surfing',
 'Jet skiing',
 'Spearfishing',
 'Surfing',
 'Boogie Boarding',
 'Fishing',
 'Scuba diving',
 'Spearfishing',
 'Spearfishing',
 'Wading',
 'Snorkeling',
 'Standing or boogie boardin',
 'Surfing',
 'Surfing',
 'Paddle boarding',
 'Spearfishing',
 'Body surfing',
 'Kite Boarding',
 'Surfing',
 'Fishing ',
 'Fishing ',
 'Spearfishing',
 'Spearfishing',
 'Washing sand off a speared fish',
 'Surfing ',
 'Surfing',
 'Surfing',
 'Diving',
 'Standing, holding shark pup',
 'Swimming',
 'Surfing',
 'Swimming',
 'Diving / fishing',
 'Wakeboarding',
 nan,
 'Surfing',
 'Fishing',
 'Spearfishing',
 'Surfing',
 'Diving for abalone',
 'Fishing',
 'Snorkeling',
 'Shark fishing on the Ricardo Astorga',
 'Surf fishing',
 'Swimming',
 'Shark fishing on the Don Agustín-VI. ',
 'Scuba diving',
 'Swimming',
 'Surfing',
 'Attempting to fix motor',
 'Fishing',
 'Body boarding',
 'Surfing',
 'Surfing',
 'Snorkeling',
 'Surfing',
 'Snorkeling',
 'Snorkeling',
 'Snorkeling',
 'Snorkeling',
 'Fishing',
 'Swimming',
 'Snorkeling',
 'Diving',
 'Surfing',
 'Fishing',
 'Snorkeling',
 'Spearfishing',
 'Surfing',
 'Fishing',
 'Scuba diving',
 'Kite Surfing',
 'Body boarding',
 'Snorkeling',
 'Surfing',
 'Snorkeling',
 'Surfing',
 'Surfing',
 'Surfing',
 'Surfing',
 'Swimming',
 'Surfing',
 'Swimming',
 'Swimming /  Whale Watching',
 'Surfing',
 'Surfing',
 'Surfing',
 nan,
 'Swimming after boat became disabled',
 'Boogie Boarding',
 'Surfing',
 'Kayak Fishing',
 'Fishing',
 'Swimming',
 'Surfing',
 ...]

In [104]:
df['Activity'].unique()

array(['Paddling', 'Standing', 'Surfing', ..., 'Went overboard',
       'Ship lay at anchor & man was working on its rudder',
       'Man fell overboard from ship. Those on board threw a rope to him with a wooden block & were pulling him to the ship'],
      dtype=object)

In [ ]:
# Veo que hay descripciones de la actividad en cuestión de varias palabras, cuando la mayoría están descritas con una palabra
# ejemplo : Swimming , Surfing , Fishing

# Voy a filtrar las actividades que tengan más de dos palabras

In [105]:
lista = df[df['Activity'].str.split().str.len() >= 2]['Activity'].tolist()

lista

['Free diving',
 'Kite surfing',
 'Feeding sharks',
 'Boogie boarding',
 'Feeding sharks',
 'Scuba diving',
 'Body boarding',
 'Stand-Up Paddleboarding',
 'Scuba Diving',
 'Kayak fishing for sharks',
 'Cleaning fish',
 'Free diving',
 'Fishing / Wading',
 'Scuba Diving',
 'Scuba diving',
 '2 boats capsized',
 'Night bathing',
 'Stand-Up Paddleboarding',
 'Kayaking / Fishing',
 'Scuba Diving',
 'Body surfing',
 'Scuba Diving',
 'Swimming, poaching abalone',
 'Kayaking / Fishing',
 'Body boarding',
 'Feeding sharks',
 'Body boarding',
 'Touching a shark',
 'Feeding sharks',
 'Attempting to lasso a shark',
 'Body boarding',
 'Body boarding',
 'Photo shoot',
 'Scuba Diving',
 'Paddle boarding',
 'Body boarding',
 'Washing hands',
 'Body boarding',
 'Grabbing shark for a selfie',
 'Kayak fishing',
 'Tagging sharks',
 'Scuba Diving',
 'Scuba Diving',
 'Surf skiing ',
 'Free diving',
 'Surf fishing',
 'Cage Diving',
 'Kite surfing',
 'Boogie boarding',
 'Body boarding',
 'Cage Diving',
 'SUP Foil boarding',
 'Fishing in Alabama Deep Fishing Rodeo',
 'Kite surfing',
 'Scuba Diving',
 'Fishing for squid',
 'Fishing for sharks',
 'Scuba Diving',
 'Floating in tube',
 'Kite surfing',
 'Teasing a shark',
 'Body surfing',
 'Diving for beche-de-mer',
 'Kite surfing',
 'Feeding stingrays?',
 'Kayak fishing',
 'Paddle boarding',
 'Kayak Fishing',
 'Paddle boarding',
 'Scuba diving',
 'Sea disaster',
 'Lobster fishing',
 'Swimming / Wading',
 'Body boarding',
 'Fishing for shrimp',
 'Kayak Fishing',
 'Boogie boarding',
 'Body boarding',
 'Kayak fishing',
 'Photographing fish',
 'Kayak Fishing',
 'Stand-Up Paddleboarding',
 'Kayak Fishing',
 'Kayak Fishing',
 'Scallop diving on hookah',
 'Kayak Fishing',
 'Treading water',
 'Body boarding ',
 'Playing in the water',
 'Body Boarding',
 'Body surfing?',
 'Boogie boarding',
 'Attempting to rescue a shark',
 'Surf skiing ',
 'Photographing the shark',
 'Paddle boarding',
 'Kayak Fishing',
 'Standing / Snorkeling',
 'Hand feeding sharks',
 'Sitting in the water',
 'Transatlantic Rowing',
 'Shark fishing',
 'Surfing & filming dolphins',
 'Swimming after falling overboard',
 'Diving / Filming',
 'Fishing for blue sharks',
 'Stand-Up Paddleboarding',
 'Stand-Up Paddleboarding',
 'Standing in inner tube',
 'Body surfing or Boogie boarding',
 'Feeding fish',
 'Playing with an air mattress',
 'Body surfing',
 'Fishing for sharks',
 'Kite boarding',
 'Boogie boarding',
 'Boogie boarding',
 'Sea disaster',
 'Shark diving',
 'Body surfing',
 'Body surfing',
 'Transatlantic Rowing',
 'Body boarding',
 'Petting a shark',
 'Body boarding',
 'Kneeling in the water',
 'Tagging sharks',
 'Fell into the water',
 'Scuba diving',
 'Teasing a shark',
 'Body boarding',
 'Shark watching',
 'Diving for lobsters',
 'Kite Surfing',
 'Kite Surfing',
 'Scuba diving / culling lionfish',
 'Spearfishing / Free diving',
 'Sea disaster',
 'Free diving / Photographing pilot whales',
 'Filming a documentary',
 'Attempting to remove fishing net from submerged object',
 'Boogie boarding',
 'Kayaking / Fishing',
 'Body boarding',
 'Shark fishing',
 'Body boarding',
 'Body boarding',
 'Diving for crayfish',
 'Swimming / snorkeling',
 'Diving for Abalone',
 'Casting a net',
 'Marathon swimming',
 'Longline fishing for sharks',
 'Boogie boarding',
 'Wrangling a shark',
 'Attempting to free the shark',
 'Cleaning fish',
 'Walking in surf',
 'Swimming & snorkeling',
 'Body surfing',
 'Kayaking / Fishing',
 'Boogie Boarding',
 'Fishing for sharks',
 'Body boarding',
 'Playing in the surf',
 'Free diving',
 'Kite boarding',
 'Free diving',
 'Fly fishing',
 "Fishing - 'tag & release'",
 'Swimming to shore with floatioon devices after boat engine conked out',
 'Scuba diving',
 'Dragging stranded shark into deeper water',
 'Spearfishing / Free diving',
 'Paddle boarding',
 'Scuba diving',
 'Paddle boarding',
 'Boogie boarding',
 'Swimming or boogie boarding',
 'Shark fishing',
 'Wading or swimming',
 'Free diving ',
 'Body surfing',
 'Scuba diving',
 'Sitting in the water',
 'Surf skiing ',
 'Attempting to rescue an injured & beached shark',
 'Surf skiing ',
 'Boogie Boarding',
 'Free diving / spearfishing',
 'Kayak Fishing',
 'Kayaking / Fishing',
 'Paddle boarding',
 'Body boarding',
 'Scuba diving',
 'Diving, feeding sharks',
 'Body boarding',
 'Kite Surfing',
 'Attempting to Kite surf from Egypt to Saudi Arabia',
 'Fishing (illegally)',
 'Kite Surfing',
 'Diving, photographing sharks',
 'Kayak Fishing',
 'Surf skiing ',
 'Scuba diving',
 'Free diving / spearfishing',
 'Wade fishing',
 'Jumping in the waves',
 'Body boarding',
 'Kite Surfing',
 'Body boarding',
 'Wade Fishing',
 'Standing, collecting sea stars',
 'Swimming or Snorkeling',
 'Playing in the surf',
 'Sea disaster',
 'Wade Fishing',
 'Boogie Boarding',
 'Kayaking or Wave skiing',
 'Surf fishing',
 'Scuba diving',
 'Wade Fishing',
 'Scuba diving',
 'Playing in the surf',
 'Jet skiing',
 'Boogie Boarding',
 'Scuba diving',
 'Standing or boogie boardin',
 'Paddle boarding',
 'Body surfing',
 'Kite Boarding',
 'Washing sand off a speared fish',
 'Standing, holding shark pup',
 'Diving / fishing',
 'Diving for abalone',
 'Shark fishing on the Ricardo Astorga',
 'Surf fishing',
 'Shark fishing on the Don Agustín-VI. ',
 'Scuba diving',
 'Attempting to fix motor',
 'Body boarding',
 'Scuba diving',
 'Kite Surfing',
 'Body boarding',
 'Swimming /  Whale Watching',
 'Swimming after boat became disabled',
 'Boogie Boarding',
 'Kayak Fishing',
 'Stand-Up Paddleboarding',
 'Boogie Boarding',
 'Boogie Boarding',
 'Scuba diving',
 'Measuring sharks',
 'Swimming / treading water',
 'Scuba diving',
 'Body boarding',
 'Surf fishing / wading',
 'Spearfishing (free diving)',
 'Kite Boarding',
 'Boogie Boarding',
 'Paddling on kneeboard',
 'Swimming to shore from capsized kayak',
 'Swimming, attempting to rescue a girl  believed to be drowning',
 'Body boarding',
 'Wade Fishing',
 'Washing his feet',
 'Boogie Boarding',
 'Fishing for sharks',
 'Scuba diving',
 'Scuba diving',
 'Surf skiing ',
 'Feeding fish',
 'Diving, but on the surface when bitten by the shark',
 'Air Disaster',
 'Yacht race',
 'Boogie Boarding',
 'Scuba diving',
 'Sinking of the cargo ship Mark Jason',
 'Fishing boat swamped in storm',
 'Scuba diving',
 'Swimming, towing surfboard',
 'Treading water',
 'Swimming or surfing',
 'Body surfing',
 'Rowing an inflatable dinghy',
 'Surf skiing ',
 'Spearfishing (free diving)',
 'Body surfing',
 'Body surfing',
 'Sea Disaster',
 'Night diving',
 'Body boarding',
 'Walking out of the water after surfing',
 'Fishing from surfski',
 'Boogie Boarding',
 'Walking out of the water after surfing',
 'Jet skiing',
 "Accidentally stood on hooked shark's tail before attempting to gut it ",
 'Attempting to chase shark out to sea',
 'Fishing for snapper',
 'Scuba diving',
 'Removing fish from a trap',
 'Shark diving',
 'The 426-ton cargo ship Mia, laden with cement, capsized in heavy seas ',
 'Scuba diving',
 'Body boarding',
 'Floating near boat & observing bioluminesce',
 'Walking out of the water after surfing',
 'Boogie Boarding',
 'Jumped into the water',
 'Surf paddling',
 'Kayak Fishing',
 'Scuba diving',
 'Body boarding',
 'Removing hook from shark',
 'Reviving a sedated shark',
 'Sea Disaster',
 'Shark tagging',
 'Swimming / jumping off a jetty',
 'Body boarding',
 'Playing on a sandbar',
 'Shark fishing',
 'Boogie Boarding',
 'Spearfishing (free diving)',
 'Swimming / Body Surfing',
 'Body boarding',
 'Sea Disaster',
 'Playing soccer in the water',
 'Free diving / modeling',
 'Diving / Kissing the shark',
 'Body boarding',
 'Sea Disaster',
 'Lifesaving drill',
 'Touching sharks',
 'Boogie Boarding',
 'Surf fishing',
 'Body boarding',
 'Body boarding',
 'Body boarding',
 'Scuba diving',
 'Tagging sharks',
 'Scuba diving',
 'Body boarding',
 'Free diving',
 'Competing in the Woodvale Atlantic Rowing Race',
 'Competing in the Woodvale Atlantic Rowing Race',
 'Night Surfing',
 'Scuba diving',
 'Diving for lobsters',
 'Diving for crayfish',
 'Competing in the Woodvale Atlantic Rowing Race',
 'Fishing for sharks',
 'Standing / Surfing',
 'Scuba diving',
 'Treading water/ Surfing',
 'Body surfing',
 'Standing / Surfing',
 'Removing shark from net',
 'Scuba diving',
 'Boogie boarding, kicked at object in the water',
 'Scuba diving in aquarium tank',
 'Holding onto an inflatable boat',
 'Swimming with boogie board',
 'Boogie boarding',
 'Spearfishing (Free diving)',
 "Crouching in 2' of water",
 'Sea Disaster',
 'SCUBA Diving',
 'Diving in aquarium display tank',
 'Attempting to drive shark away from sailing regatta',
 'Fishing from a kayak',
 'Swept out to sea by the tsunami, she clung  to a log for 24 hours',
 'Scurfing (surfboard being  towed behind a boat)',
 'Chumming for white sharks',
 'Body boarding',
 'Spearfishing/ filming',
 'Surf fishing',
 'Diving & fishing with net',
 'Wading / fishing & carrying a bag of fish',
 'Fishing for squid aboard the trawler Shikishima-Maru when the shark leapt into the boat',
 'In water with diving seabirds',
 'Body boarding',
 'Swimming, poaching perlemoen',
 'Boogie-boarding / swimming',
 'Free diving & spearfishing',
 'Tandem surfing',
 'Five men on makeshift raft after their 10 m fishing boat  capsized and sank in rough seas. Survivors rescued after  7.5 hours in the water',
 'Five men on makeshift raft after their 10 m fishing boat  capsized and sank in rough seas. Survivors rescued after  7.5 hours in the water',
 'Body boarding',
 'Free diving & spearfishing',
 'Scuba diving',
 'Boogie boarding',
 'Surf skiing',
 'Kayaking (returning from spearfishing)',
 'Air disaster. Flash Airlines Boeing 737 crashed into the Red Sea',
 'Swimming / shipwreck',
 'Surfing amid a shoal of sharks',
 'Swimming or surfing',
 'Surf skiing',
 'Swimming to shore from boat or kayak',
 'Sitting on surfboard',
 'Wading near a fishing net',
 'Wading to shore from his boat',
 'Body boarding',
 'Standing, stepped on shark',
 'Body boarding',
 'Swimming, wearing black wetsuit & swim fins',
 'Sitting on surfboard',
 'Surf skiing',
 'Walking, carrying surfboard & stepped on shark',
 'Swimming with pod of dolphins',
 'Killing  sharks',
 'Swimming (using a float)',
 'Petting captive sharks',
 'Scuba diving',
 'Scuba diving',
 'Scuba diving',
 'Body boarding',
 'Boogie boarding',
 "Fishing, standing in 2' of water",
 'Fishing from Surfboard',
 'Boogie boarding or Surfing',
 'Body boarding',
 'Surf skiing',
 'Boogie boarding',
 'Wading, when he stepped on the shark',
 'Shark Fishing',
 'Attempting to retreive a dinghy',
 'Sitting on surfboard',
 'Snorkeling (filming the sardine run)',
 'Floating on a raft',
 'Fishing, removing the shark from his line',
 'Playing in the surf with his 2 dogs',
 'Collecting beche-de-mer',
 'Fishing from prawn trawler',
 'Scallop diving (using surface-supplied air & a POD) ',
 'Fishing (Drowned 2-Apr-2002)',
 'Surfing, but standing in water alongside board',
 'Swimming / Wading',
 'Swimming /  boogie boarding',
 'Capsized fishing boat',
 'Surf skiing',
 'Body surfing',
 'Surfing, fell off surfboard & stepped on the shark.',
 'Wreck / Technical diving',
 'Boogie boarding',
 'Walking in shallows',
 'Boogie Boarding',
 'Boogie Boarding',
 'Fell off banana boat',
 'Boogie boarding',
 'Floating face-down in knee-deep water',
 'Hiking on the beach',
 'Shark fishing',
 'Spearfishing, carrying his catch',
 'Boogie boarding',
 'Body boarding',
 'Standing alongside surfboard',
 'Attempting to catch a crocodile',
 "Sinking of the 40' Esperanza off St. Maartin with 36 refugees on board",
 'Fishing for whiting',
 'Scuba diving',
 'Swimming back from anchored sailboat',
 'Fishing for whiting',
 'Diving for sea urchins',
 'Diving (shell maintenance)',
 'Swimming / snorkeling',
 'Body surfing',
 'Sitting on surfboard',
 'Fell onto dead shark',
 'Standing / surfing',
 'Swimming / Body surfing',
 'Free diving',
 'Jumped into the water',
 'Conducting research',
 'Swimming out to porpoises ',
 'Windsurfing, but sitting on his board',
 'Surfing / Wading',
 'Attempting to illegally enter the USA',
 'Scuba diving',
 'Spearfishing, holding mesh bag with speared fish',
 'Air Disaster - Piper aircraft crashed into the sea, killing all on board',
 'Boogie boarding / wading',
 'Boogie boarding',
 'Body surfing',
 'Feeding prawns to captive sharks',
 'Canoe with 3 men onboard sank',
 'Fishing for tarpon',
 'Scuba diving',
 'Surfing (sitting on his board)',
 'Spearfishing, but swimming at surface',
 'Body boarding',
 'Body surfing',
 'Surfing, lying on surfboard',
 'Wading to shore after surfing',
 'Wading with surfboard',
 "Lying prone in 2' of water",
 'Body surfing',
 'Spearfishing & holding catch',
 'Swimming with dolphins',
 'Boogie boarding',
 'Wading in school of baitfish',
 'Adrift in a life jacket',
 'Splashing / wading',
 'Swimming after being swept into sea by a large wave',
 'Spearfishing & diving for paua',
 "Scientific research (Dr. Sonny Gruber's student)",
 'Swimming, towing a kayak',
 'Body surfing or body boarding',
 'Swimming near pod of whales',
 'Paddle Skiing',
 'Inflatable boat',
 'Body surfing',
 'Fishing for tuna',
 'Fishing / washing bait off hands',
 'Boogie boarding',
 'Moving a shark in a net ',
 'Surfing (or body boarding)',
 'Free diving for abalone',
 'Body Boarding',
 'Body boarding',
 'Body boarding',
 'Swimming / surfing',
 'Body boarding',
 'Towing rubber dinghy',
 'Surfing (lying prone on his board)',
 'Scuba diving',
 'Snorkeling \x96 hunting crayfish and abalone',
 'Swimming or paddle boarding',
 'Spearfishing on scuba & transferring fish onto a stringer',
 'Sitting on surfboard',
 'Scuba diving (submerged riding a scooter)',
 'Body boarding or surfing',
 'Walking / surfing',
 'Surfing (sitting on his board)',
 'SCUBA diving',
 'SCUBA diving',
 'Floating on raft',
 'Boogie boarding',
 'Body surfing',
 'Wading / Surfing',
 'Fishing for octopus',
 'Spearfishing / night diving',
 'Body surfing, stood up on sandbar',
 'Scuba diving',
 'Watching seals',
 'Attempting to attract dolphins',
 'Swimming or snorkeling',
 'Diving for abalone',
 'Surfing / Swimming',
 'Sitting on surfboard',
 'Boogie boarding',
 'Body Boarding',
 'Free diving for abalone',
 'Wade fishing',
 'Free diving with a pod of dolphins',
 'Body surfing',
 'Tech diving ',
 'Shell Diving',
 'Swimming breast stoke',
 'Fishing in knee-deep water',
 'Dived naked into the water on a bet',
 'Swimming in fish tank',
 'Boeing 757 enroute from Porta Plata plunged into the sea',
 'Swimming with mask & snorkel',
 'Chumming for sharks',
 'Diving, gathering shellfish',
 'Fell off aircraft carrier',
 'Boogie boarding',
 'Playing / standing',
 'Scuba diving',
 'Abalone diving using Hookah (near calving whales)',
 'Abalone diving using Hookah (resting on the surface)',
 'On a float',
 '"Riding waves on a board"',
 'Body boarding',
 'Body boarding',
 'Jumped off surfboard & landed on the shark',
 'Scuba diving (ascending using scooter)',
 'Playing / jumping',
 'Sleeping in anchored boat',
 'Diving for abalone',
 'Scuba diving for bivalves',
 'Surf skiing',
 'Wind surfing',
 'Scuba diving',
 'Body boarding',
 'Surfing, sitting on board',
 'Murder victim',
 'Commercial diver (submerged or treading water)',
 'Surfing, paddling seawards',
 'Adrift on refugee raft',
 'Jumped off rocks into white water',
 'Freediving for seashells',
 'Swimming alongside NOAA research vessel Discoverer',
 'Swimming alongside NOAA research vessel Discoverer',
 'Removing shark from tank in nightclub ',
 'Swimming, after falling off towed kneeboard',
 'Playing volleyball with friends',
 'Hookah diving',
 'Surfing, paddling shorewards',
 'Surfing, paddling seawards',
 'Watching the shark feeding on a dead pinniped',
 'Riding floatation device',
 'Free diving for abalone (ascending)',
 'Fishing for lobsters',
 'Oyster fishing',
 'Body boarding',
 'Scuba diving',
 'Paddling on surfboard or body board',
 'Scuba diving',
 'Scuba diving at seal colony',
 'Floating on his back',
 'Paddling on surfboard',
 'Free diving & spearfishing (ascending)',
 'Sea disaster',
 'Sea disaster',
 'Body boarding',
 'Standing in waist-deep water, helping his father tend a gill net containing dead fish',
 'Lying on surfboard',
 'Spearfishing / free diving',
 'Scuba diving',
 'Scuba diving (submerged)',
 'Body boarding',
 'Hookah diving for sea urchins',
 'Scuba diving',
 'Boogie boarding',
 'Body boarding',
 'Surf fishing',
 'Snorkeling, carrying a speared fish in her hand',
 'Fell from cliff while fishing & disappeared in strong current',
 "Zosimo & his son, Jeffrey Popa, failed to return from overnight fishing trip in a 14' boat, Boat apparently sank, debris recovered but his son & boat were never found",
 'Preparing to fish for jack-mackerel',
 'Scuba diving ',
 'Scuba diving & filming',
 'Surfing, paddling seawards',
 'Hookah diving for pen shells ',
 'Fishing for yellowtail, Seriola quinqueradiata',
 'Surfing (sitting on his board)',
 'Body boarding',
 'Diving for pen shells',
 'Boogie boarding',
 'Hookah diving for sea urchins',
 'Fishing from rocks, swept out to sea by large wave & treading water',
 'Boogie boarding',
 'Scuba diving',
 'Finning the shark that bit him',
 'Swimming from makeshift raft  to life vest after fishing boat sank',
 'Boogie boarding',
 'Swimming behind sailboat',
 'Sitting on surfboard',
 'Scuba diving',
 'Surfing, collided with shark',
 'Sitting on surfboard',
 'Scuba diving',
 'Surfing (or sailboarding)',
 'Scuba diving (but on surface)',
 'Free diving / spearfishing, from paddleboard & floating on the surface',
 'SCUBA diving',
 'Wade fishing',
 'Scuba diving (but on surface)',
 'Snorkeling, possibly holding a fish',
 'Resting on surfboard',
 'Lying on surfboard & paddling',
 'Free diving for trochus',
 'Sitting on surfboard',
 'Scuba diving & spearfishing',
 'Board sailing',
 'Surfing (sitting on his board)',
 "On board 51' fishing vessel One Ki",
 'Free diving & spearfishing',
 'Wading, knocked down & swept away by large waves',
 'Swimming in canal',
 'Scuba diving',
 'Free diving',
 "Fishing, stepped on hooked shark's head",
 'Observing a shark feeding on a carcass of a humpback whale',
 'Hookah diving for abalone (descending)',
 "Filming 5' blue shark",
 'Feeding fish',
 'Fishing for sharks',
 'Scuba diving',
 "Fell off surfboard 20' from shore",
 'Windsurfing (urinating on his board)',
 'Free diving',
 'Surfing (lying prone on his board)',
 'Paddling on surfboard',
 'Paddling on surfboard',
 'Scuba diving, but swimming on surface',
 'Body boarding',
 'Lifesaving drill',
 'Swimming in strong current with 3 others when he disappeared',
 'Surfing with dolphins',
 'Scuba diving, hand feeding sharks',
 'Spearfishing using scuba & trailing a string of bleeding fish',
 'The Christie V sank on 11/6/1988, survivors were adrift on a dinghy',
 'The Christie V sank on 11/6/1988, survivors were adrift on a dinghy',
 'The MV Dona Marilyn sank in Typhoon Unsang with the loss of 389 lives',
 'Surfing (sitting on his board)',
 "Diving in Sharkey's Reef restaurant\x92s aquarium",
 'Free diving & spearfishing ',
 'Spearfishing on scuba',
 'Boogie boarding',
 'Scuba diving',
 'Sittting in water with his child',
 'Shell diving',
 'Surfing / treading water',
 'pêcheur de bichiques',
 "Onboard 21' powerboat that capsized in rough seas",
 'Body surfing',
 'Lying atop surfboard',
 'Drift fishing',
 'Fell overboard  from the Taiwanese fishing trawler Lien Cheng Feu ',
 "Attempting to lasso shark's tail",
 'Returning to shore, collided with shark',
 'Ferry boat Dona Paz with 4431 passengers exploded & caught fire when she collided with an  oil tanker ',
 'Boogie boarding',
 'Vessel caught fire & capsized, survivors in the water',
 'Scuba Diving for scallops',
 'Surfing (sitting on his board)',
 'Body surfing',
 'Dropping anchor',
 'Swimming from shore to anchored sailboat',
 'The inter-island ferry Vula sank in heavy weather',
 'Jumped into the water from a cliff',
 'Body boarding',
 'Adrift after ditching plane in the sea',

In [120]:
# convierto todas las cadenas a minúsculas

import re

df['Activity'] = df['Activity'].str.lower()

In [119]:
df['Activity']

0            paddling
1            standing
2             surfing
3             surfing
4         free diving
            ...
6172              NaN
6173     pearl diving
6174              NaN
6175    sponge diving
6176              NaN
Name: Activity, Length: 6176, dtype: object

In [123]:
num_elementos = len([elemento for elemento in df['Activity'].dropna() if len(elemento.split()) >= 2])

num_elementos

2113

In [125]:
df.shape # he comprobado si por si acaso me había sobrescrito las filas del df, pero no

(6176, 24)

In [126]:
df['Activity'] = df['Activity'].fillna('none')

In [128]:
type(df['Activity'])

pandas.core.series.Series

In [130]:
df['Activity'] = df['Activity'].astype(str)